
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Thank you Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">

  <script src="/vendor/jquery-3.0.0.js"></script>

</head>

<body>
  <!-- Top nav bar (fixed) -->
  <nav>
    <span class="logo">ScheduleMe</span>

    <button id="new-tweet-button">
      <div>
      <span class="bold">Thank you</span>
      </div>
    </button>

  </nav>

  <main>




  </main>

</body>

</html>
