
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Error Page</title>

  <%- include('_partials/head') %>

</head>

<body>

  <%- include('_partials/nav') %>

  <main>
    <div class="jumbotron">
      <h1 class="display-4">WELCOME TO SCHEDULEME</h1>

    </div>
  </main>

</body>

</html>
