<!DOCTYPE html>
<html lang="en">

<head>
  <title>Available Dates Page</title>

  <%- include('_partials/head') %>

  <link rel="stylesheet" href="/styles/calendar.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">

  <script defer src="/scripts/calendar_FE.js"></script>
  <script defer src="/scripts/invitee_FE.js"></script>
</head>

<body>
  <!-- Top nav bar (fixed) -->
  <nav>
    <span class="logo">ScheduleMe</span>

    <span class="nav-input">
      <label>Name:</label>
      <input id="voter-name" type="text" name="user" placeholder="name" required />
    </span>

  </nav>

  <!-- Page-specific (main) content here -->
  <main>

    <section id="side-bar">
      <ol id="ranked-choices">
      </ol>
    </section>

    <section id="middle-bar">

      <ol id="dates-container">
        <% for (let date of dates) { %>
            <li data-id="<%= date.id %>" class="date-container" name="container">
              <span class="triangle triangle-right"></span>
              <span class="date-html"> <%= date.utc %> </span>
              <span class="triangle triangle-left"></span>
            </li>
        <% } %>
      </ol>

    </section>



  </main>

  <footer id="primary-footer">
    <div class="popup">
      <button class="accept" type="submit" form="name-form"> accept </button>
    </div>
  </footer>

</body>

</html>

