
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Thank you Page</title>

  <%- include('_partials/head') %>

</head>

<body>
  <!-- Top nav bar (fixed) -->
  <nav class="navbar fixed-top navbar-expand-lg bg-light float-end px-2">

    <div>
      <i class="fa-regular fa-calendar"></i>
      <span class="navbar-brand mb-0 h1">ScheduleMe</span>
    </div>

  </nav>

  <main>

    <section id="middle-bar">
      <div>
        <span class="alert alert-success center-block" role="alert">Thank you</span>
        <span class="bold">Your schedulee will contact you with further information</span>
        </div>
    </section>

  </main>

</body>

</html>
