
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Thank you Page</title>

  <%- include('_partials/head') %>

</head>

<body>
  <!-- Top nav bar (fixed) -->
  <nav>
    <span class="logo">ScheduleMe</span>

    <button id="new-tweet-button">
      <div>
      <span class="alert alert-success center-block" role="alert">Thank you</span>
      <span class="bold">Your schedulee will contact you with further information</span>
      </div>
    </button>

  </nav>

  <main>




  </main>

</body>

</html>
