<!DOCTYPE html>
<html lang="en">

<head>
  <title>Nav</title>
  <%- include('head') %>
</head>

<nav class="navbar fixed-top navbar-expand-lg bg-light justify-content-between px-2">

  <a href="/primary">
    <i class="fa-regular fa-calendar"></i>
    <span class="navbar-brand mb-0 h1">ScheduleMe</span>
  </a>

  <a class="btn btn-outline-dark btn-sm" href="/primary/create">
    <i class="fa-regular fa-calendar"></i>
    <span class="bold">Create</span>
  </a>

</nav>
