<!DOCTYPE html>
<html lang="en">

<head>
  <title>Nav</title>

  <%- include('head') %>

</head>


<nav>
  <span class="logo">ScheduleMe</span>

  <a class="btn btn-outline-dark btn-sm" href="primary/create">
    <i class="fa-regular fa-calendar"></i>
    <span class="bold">Create</span>
  </a>

</nav>
