// See: https://sass-lang.com/

body,
html {
  display: flex;
  margin: 0;
  width: 100%;
  padding-top: 20px;


}
*, *:before, *:after {
  //border: 1px solid red;
  box-sizing: inherit;
}

main {
  display: flex;
  margin-top: 5rem;

}

header {
  margin-top: 2rem;
}



